<%- include('../partials/header.ejs', {title:"List Blogs"}); %>
<div class="container container-body">

<form class="d-flex searchForm" method="GET" action="/">
    <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<br />

<table class="table table-striped">
<thead>
<tr>
<th scope="col">Title</th>
<th scope="col">Deployed</th>
<th scope="col">&nbsp;</th>
<th scope="col">&nbsp;</th>
</tr>
</thead>
<tbody>

<% for(let i = 0; i < blogs.length; i++) { %>

    <tr>
        <th scope="row"><%= blogs[i].dataValues.title %></th>
        <td>
        <% if (blogs[i].dataValues.deployed == 2) { %>
            <a href='<%= siteConfigs.prodUrl %>/<%= blogs[i].dataValues.linkTitle %>' target='_blank'>View Live</a>
        <% } else if (blogs[i].dataValues.deleted == 1) { %>
            Deleted next deploy
        <% } else { %>
            No
        <% } %>
        </td>
        <td><a href='/form?id=<%= blogs[i].dataValues.id%>'>Edit</a></td>
        <td><a href='/preview?id=<%= blogs[i].dataValues.id%>'>Local Preview</a></td>
    </tr>

<% } %>

</tbody>
</table>

<br />
<div class="container">
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <% let prevPage = currentPage - 1 > 0 ? currentPage - 1 : 0; %>
            <a class="page-link" href='?page=<%= prevPage %>' aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <% for(let i = 0; i < totalPages; i++) { %>
            <li class="page-item <%= (i == currentPage) ? 'active' : '' %>"><a
                class="page-link"
                href='?page=<%= i %>'
            ><%= i + 1 %></a></li>
        <% } %>
        <li class="page-item">
            <% let nextPage = currentPage + 1 < totalPages ? currentPage + 1 : totalPages - 1; %>
            <a class="page-link" href='?page=<%= nextPage %>' aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
Total Blogs: <%= totalItems %>
</div>
</div>
